:root {
  --very_dark_blue_main_BG: hsl(217, 54%, 11%);
  --very_dark_blue_card_BG: hsl(216, 50%, 16%);
  --very_dark_blue_line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --soft_blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  color: var(--white);
}

p,
li {
  color: var(--soft_blue);
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background: var(--very_dark_blue_main_BG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 24px;
  background: var(--very_dark_blue_card_BG);
  border-radius: 16px;
  width: 311px;
  margin: 16px;
}

.ntf-img img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.ntf-title {
  padding: 1rem 0;
}

.ntf-stats {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--very_dark_blue_line);
}

.price,
.time {
  vertical-align: super;
  line-height: 18px;
}

.ntf-stats > .price {
  color: var(--cyan);
  font-weight: 600;
}

.price::before {
  content: url(./images/icon-ethereum.svg);
  margin: 0 8px;
}

.time::before {
  content: url(./images/icon-clock.svg);
  margin: 0 8px;
}

.ntf-creator {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.ntf-creator-img {
  width: 36px;
  border: 1px solid var(--white);
  border-radius: 100%;
  margin-right: 1rem;
}

.ntf-name {
  color: var(--white);
}
